html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, select {
  margin-left: 7px;;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.row {
  width: 700px;
  display: inline-block;
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  align-content: space-between;
  
  padding: 10px;
}

.flex-item {
  padding: 5px;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.border-top {
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0;
}

.border-bottom {
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
}

form {
  margin-top: 10px
}

.button-wrapper {
  margin: 20px;
}

.transactionLink {
  text-decoration: underline;
  color: blue;
}

.error {
  color: red;
}

.info-line {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}
